<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScoreAnimationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>865E8E081D45E89400A8EE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865E8E211D45E89400A8EE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865E8E2C1D45E89400A8EE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
